# Check out https://editorconfig.org for more info
root = true

[*.*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[*.py]
indent_size = 4

[*.{svelte, js, ts, css, yml, yaml}]
indent_size = 2
